<footer>
	<div class="footer-content container">
		<div class="logo">
			<img src="assets/img/logo/logo-blanco.png" alt="Logo Educandonos">
		</div>
		<div class="description black">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem provident repellat nisi aperiam quos numquam, quibusdam laborum ducimus officiis ipsa voluptatum recusandae dolore illum accusantium debitis. Dignissimos blanditiis necessitatibus obcaecati.</p>
		</div>
		<div class="contact black">
			<p><strong>Email: info@educandonos.com.ar</strong></p>
			<p><strong>Whatsapp: +54 9 1234567890</strong></p>
		</div>
		<div class="social-networks">
			<a href="#">
				<i class="fa-brands fa-instagram"></i>
			</a>
			<a href="#">
				<i class="fa-brands fa-facebook"></i>
			</a>
			<a href="#">
				<i class="fa-brands fa-youtube"></i>
			</a>
			<a href="#">
				<i class="fa-brands fa-whatsapp"></i>
			</a>
		</div>
	</div>
	<div class="footer-copyright black">
		<small>Copyright &copy; {{ year }} Todos los derechos reservados</small>
	</div>
</footer>