<footer>
	<div class="footer-content container">
		<div class="logo">
			<img src="assets/img/logo/logo-blanco.png" alt="Logo Educandonos">
		</div>
		<div class="description black">
			<p>Es un placer que puedan acompañarnos en cualquiera de nuestras capacitaciones, para así poder fortalecer y mejorar el relacionamiento en una familia.</p>
		</div>
		<div class="contact black">
			<p><strong>Email: info@educandonos.com.ar</strong></p>
			<p><strong>Whatsapp: +54 9 351 7390722</strong></p>
		</div>
		<div class="social-networks">
			<a href="https://instagram.com/danieljosuemontano" target="_blank">
				<i class="fa-brands fa-instagram"></i>
			</a>
			<a href="https://www.facebook.com/CoachDanielMontano" target="_blank">
				<i class="fa-brands fa-facebook"></i>
			</a>
			<a href="https://twitter.com/CoachDanieM" target="_blank">
				<i class="fa-brands fa-twitter"></i>
			</a>
			<a href="https://web.whatsapp.com/send?phone=543517390722&text=Hola%2C%20estoy%20interesado%20en%20" target="_blank">
				<i class="fa-brands fa-whatsapp"></i>
			</a>
		</div>
	</div>
	<div class="footer-copyright black">
		<small>Copyright &copy; {{ year }} Todos los derechos reservados</small>
	</div>
</footer>