.navbar {
	background-color: rgba(0,0,0,0.3);
	padding: .5rem 3rem;
	border-radius: 50px;
	transition: all .4s ease-in-out;
	position: absolute;
	top: 5%;
	left: 50%;
	right: 50%;
	transform: translateX(-50%);
	max-width: 1200px;
	width: 100%;
	z-index: 4;
}
@media screen and (max-width: 768px) {
	.navbar {
		top: 3%;
		padding: .5rem 1rem;
		background-color: rgba(0,0,0,0.75);

	}
}

	.navbar-toggler:focus {
		border: none;
		box-shadow: none;
	}
		.navbar-toggler-bar {
			height: 4px;
			margin: 4px 0;
			width: 35px;
			border-radius: 5px;
			background-color: #fff;
			transition: all .3s ease-in-out;
		}


.fixed {
	background-color: rgba(0,0,0,0.85);
	position: fixed;
	max-width: 100%;
	width: 100%;
	border-radius: 0;
	top: 0;
	margin-left: -1px;
}

	.navbar .navbar-nav {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	.nav-link {
		color: var(--second-color);
		font-weight: 700;
	}
	@media screen and (max-width: 768px) {
		.nav-link {
			text-align: center;
		}
	}
	.fixed .nav-link {
		color: #fff;
	}

	.navbar img {
		width: 80px;
	}