<div class="topbar">
	<div class="logo">
		<img src="assets/img/logo/logo.png" alt="Logo Educandonos">
	</div>
	<div class="space w-100"></div>
	<div class="options">
		<div class="opt site" [routerLink]="['/']">
			<i class="fa-solid fa-globe"></i>
		</div>
		<div class="opt home" [routerLink]="['/admin']">
			<i class="fa-solid fa-house"></i>
		</div>
		<div class="opt settings">
			<i class="fa-solid fa-gear"></i>
		</div>
		<div class="opt logout">
			<i class="fa-solid fa-door-open"></i>
		</div>
	</div>
</div>