<app-navbar></app-navbar>
<header class="overlay-normal">
	<div class="header-content container">
		<h3 class="title second-color-text">La educación es un pilar de la vida</h3>
		<h4 class="title white p-0">Cursos preparados para entornos</h4>
		<h4 class="title white p-0">Familiares y todos sus integrantes</h4>
		<ngx-typed-js	[strings]="['Temas de Parejas',
											'Temas de Noviazgo',
											'Familias Ensambladas',
											'Relación de Padres con Hijos',
											'La Tecnología',
											'Emprendimientos Familiares']"
							[loop]="true"
							[showCursor]="false"
							[typeSpeed]="40"
							[backSpeed]="20"
							[backDelay]="1200"
							[smartBackspace]="true">
			<h5 class="typing white" style="min-height: 40px;"></h5>
		</ngx-typed-js>
	</div>
</header>

<section id="services" class="section-services">
	<div class="services-content container">
		<div class="services services-box col-12 col-sm-8">
			<div class="head">
				<h3 class="second-color-text"><strong>Bienvenido a EDUCANDONOS</strong></h3>
				<h6 class="black">La educación es un pilar de la vida</h6>
			</div>
			<div class="content-info">
				<div class="image-services services-box col-12 col-sm-4 mobile">
					<img src="assets/img/home/services/services.jpg" alt="Services Image">
				</div>
				<div class="service">
					<div class="icon col-12 col-sm-3">
						<img src="assets/img/home/icons/courses.png" alt="Icono Cursos">
					</div>
					<div class="description col-12 col-sm-9">
						<h4 class="second-color-text"><strong>Capacitación Online</strong></h4>
						<p class="p-2 black">Contamos con nuestra propia plataforma de educación <strong>CAMPUS EDUCANDONOS</strong>, donde tendrás videos, material de apoyo en PDF y un seguimiento académico, todo a través del campus.</p>
					</div>					
				</div>
				<div class="service">
					<div class="icon col-12 col-sm-3">
						<img src="assets/img/home/icons/coaching.png" alt="Icono Coaching">
					</div>
					<div class="description col-12 col-sm-9">
						<h4 class="second-color-text"><strong>Coaching Profesional</strong></h4>
						<p class="black">Directores de EDUCANDONOS</p>
						<hr>
						<p class="black p-0"><strong>Daniel Josué Montaño</strong>: Coaching Ontológico de la Extensión Universitaria de Córdoba</p>
						<p class="black p-0">Especializado en el relacionamiento</p>
						<p class="black p-0">Diplomado en Educación Emocional Familiar , Universidad de Psicología de Córdoba</p>
						<hr>
						<p class="black p-0"><strong>Ana Laura Breppe Montaño</strong>: Coaching Educativo de la Extensión Universitaria de Córdoba</p>
						<p class="black p-0">Instructora En Educación Emocional</p>
					</div>					
				</div>
				<div class="service">
					<div class="icon col-12 col-sm-3">
						<img src="assets/img/home/icons/certificate.png" alt="Icono Certificados">
					</div>
					<div class="description col-12 col-sm-9">
						<h4 class="second-color-text"><strong>Certificados Avalados</strong></h4>
						<p class="p-2 black">Todos nuestros cursos están avalados y se certifican a través de la <strong>CÁMARA ARGENTINA</strong>, PARA LA FORMACIÓN PROFESIONAL Y LA CAPACITACIÓN LABORAL.</p>
						<p class="p-2 black text-center" style="font-size:.8rem">
							<i><b>www.camaraargentina.com.ar</b></i>
							<img src="assets/img/home/services/camara_argentina.jpg" alt="Camara Argentina" width="250px">
						</p>
					</div>					
				</div>				
			</div>
		</div>
		<div class="image-services services-box col-12 col-sm-4 no-mobile">
			<img src="assets/img/home/services/services.jpg" alt="Services Image">
		</div>
	</div>
</section>

<section id="about-us" class="section-about-us">
	<h2 class="second-color-text"><strong>Sobre Nosotros</strong></h2>
	<div class="about-us-content about-us-box container">
		<div class="description black col-12 col-sm-6">
			<p>Papá <strong>(Daniel Josué Montaño)</strong> y Mamá <strong>(Ana Laura Breppe)</strong> de dos hermosos hijos, Juan Alejo el mayor y Matías Emmanuel el menor</p>
			<p>Pastores, coaching, pero lo mejor que nos paso es <strong>ser papás</strong></p>
			<p>A través de caminar juntos en esta hermosa aventura que es la <strong>familia</strong>, hemos aprendido, a amarnos, por medio del respeto, la honra, la comunicación, y por sobre todo el perdón</p>
			<p>En este camino hemos adquirido conocimiento personal y académico sobre lo relacional en un ámbito de familia, es por eso que en cada curso que damos, no solo está lleno de conocimiento técnico, científico, si no que está lleno de nuestra esencia como personas y como <strong>hijos de Dios</strong> que lograron conquistar distintas adversidades, como un planteo de divorcio entre tantas.</p>
		</div>
		<div class="video about-us-box col-12 col-sm-6">
			<iframe width="100%" [src]="safeUrl" title="About Us" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</section>

<section id="values" class="section-mision-vison-values">
	<div class="values container">
		<div class="value">
			<div class="icon">
				<img src="assets/img/home/icons/mision.png" alt="Mision Icon">
			</div>
			<div class="description">
				<h3 class="second-color-text"><strong>Misión</strong></h3>
				<p>Poder <strong>transformar</strong> cada hogar representado por un varón o una mujer, a través de nuestras capacitaciones, en donde cada herramienta que adquieran puedan ser utilizadas funcionalmente para el <strong>fortalecimiento y sanidad</strong> de cada hogar.</p>
				<p><i>Llevar luz en donde no hay, para que uno pueda actuar en consecuencia y ejecutar una transformación, <strong>Metanoia</strong></i></p>
			</div>
		</div>
		<div class="value">
			<div class="icon">
				<img src="assets/img/home/icons/vision.png" alt="Vision Icon">
			</div>
			<div class="description">
				<h3 class="second-color-text"><strong>Visión</strong></h3>
				<p>Formar personas, con principios que funcionan y que traen <strong>libertad</strong>. Poder cambiar un hogar, un barrio una ciudad con familias consolidadas en todo lo que es el relacionamiento.</p>
				<p>Que cada papá, cada mamá sea un <strong>educador en casa</strong> sobre las emociones en sus hijos. Fortalecer familias a través de la educación relacional que con distintas competencias en educación emocional y el coaching podrán lograr lo planteado.</p>
			</div>
		</div>
		<div class="value">
			<div class="icon">
				<img src="assets/img/home/icons/valores.png" alt="Valores Icon">
			</div>
			<div class="description">
				<h3 class="second-color-text"><strong>Valores</strong></h3>
				<p>Creemos en los <strong>principios cristianos</strong>, y como tal nuestros valores se basan en un diseño. Todo en la vida para que funcione bien debe basarse en el diseño por lo cual fue creado. Nosotros al ser <strong>Creados por Dios</strong>, debemos descubrir y funcionar acorde a este diseño.</p>
				<p><i><strong>Hoy somos fruto de un diseño, El diseño de Dios para la familia, Estos son nuestros VALORES</strong></i></p>
			</div>
		</div>		
	</div>
</section>

<section id="courses" class="section-courses">
	<h2 class="second-color-text"><strong>Conoce Nuestros Cursos</strong></h2>
	<div class="courses container">
		<div class="course-card col-12 col-sm-6">
			<div class="course-card-header">
				<img src="assets/img/home/courses/curso1.jpg" alt="Imagen Curso">
			</div>
			<div class="course-card-content">
				<h5 class="second-color-text"><strong>Diplomado en Coaching de Pareja Con Inteligencia Emocional</strong></h5>
				<p class="text-description">En esta Diplomatura se darán herramientas comunicacionales, PNL, como poder empatizar, como ponernos de acuerdo, abordado desde el Coaching Ontológico</p>
				<p class="text-description">Saber ponerle nombre a lo que nos pasa emocionalmente es un gran paso en la comunicación, es por eso que aprenderemos como se originan las emociones y como gestionarlas</p>
			</div>
			<div class="course-card-footer">
				<p>Suscribirme</p>
			</div>
		</div>
	</div>
</section>

<section id="testimonios" class="section-testimonios overlay-transparent">
	<h2 class="second-color-text"><strong>Testimonios</strong></h2>
	<swiper	class="swiper container"
				[slidesPerView]="1"
				[direction]="'horizontal'"
				[mousewheel]="true"
				[pagination]="{
					clickable: true
				}"
				[spaceBetween]="30"
				[breakpoints]="{
					'321': {
						'slidesPerView': 3,
						'direction' : 'vertical'
					}
				}">
				
		<ng-template *ngFor="let testimonio of testimonios; let i = index;" swiperSlide>
			<div class="testimonio">
				<div class="picture">
					<img class="img-circle" src="assets/img/home/testimonials/t{{i+1}}.jpg" alt="Imagen Testimonio">
				</div>
				<div class="testimonio-text">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nihil tempore odio nostrum. Consequatur eaque vitae, ipsam quo aut a facilis, quia exercitationem quasi enim, quae illo amet qui numquam.</p>
				</div>
			</div>
		</ng-template>
	</swiper>
</section>

<section id="contacto" class="section-contacto overlay-main-color">
	<div class="info container">
		<h2 class="second-color-text py-3"><strong>Contactanos</strong></h2>
		<h5 class="white">Hace click en el link del whatsapp y podes chatear directamente con nosotros, en donde si tenes alguna inquietud , sera un placer poder resolverla. <br/> <strong>Equipo Educándonos</strong></h5>
		<a href="https://web.whatsapp.com/send?phone=543517390722&text=Hola%2C%20estoy%20interesado%20en%20" target="_blank" class="d-flex align-items-center gap-3 btn btn-second my-4 mx-auto"><i class="fa-brands fa-whatsapp fa-2x"></i> Contacto</a>
	</div>
</section>

<app-footer></app-footer>