
header {
	height: 100vh;
	background-image: url('../../../assets/img/home/header.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
	.header-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}
	@media screen and (max-width: 768px) {
		.header-content {
			text-align: center;
		}
	}

/* Servicios */
.section-services {
	padding: 3rem 0;
}
@media screen and (max-width: 768px) {
	.section-services {
		padding-top: 76px;
	}
}
	.services-content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
		.services-content .services-box {
			padding: 1rem;
		}
		@media screen and (max-width: 768px) {
			.services-content .services-box {
				padding: 0;
			}
		}

		.services-content .head {
			padding: 1rem;
		}

		.services-content .head,
		.services-content .content-info {
			text-align: justify;
		}
		@media screen and (max-width: 768px) {
			.services-content .head {
				text-align: center;
			}
		}
		.services-content .content-info .service {
			display: flex;
			flex-wrap: wrap;
			padding: 2rem 3rem;
		}
		@media screen and (max-width: 768px) {
			.services-content .content-info .service {
				padding: 1rem 0;
			}
		}
			.content-info .service .icon {
				text-align: center;
			}
				.content-info .service .icon img {
					width: 250px;
				}
				@media screen and (max-width: 768px) {
					.content-info .service .icon img {
						width: 100px;
					}
					.content-info .service .description {
						text-align: center;
					}
				}

/* About Us */
.section-about-us {
	background-color: #f1f1f1;
	padding: 7rem 0 4rem 0;
}
@media screen and (max-width: 768px) {
	.section-about-us {
		padding-top: 76px;
	}
}
	.about-us-content {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 3rem;
		flex-wrap: wrap;
	}
	.about-us-box {
		padding: 1rem;
	}
		.about-us-content .video iframe {
			border-radius: .8rem;
			height: 380px;
		}
		@media screen and (max-width: 768px) {
			.about-us-content .video iframe {
				order: 1;
				height: 150px;
			}
			.about-us-content .description {
				order: 2;
			}
		}

/* Valores */
	@media screen and (max-width: 768px) {
		.section-mision-vision-values {
			padding-top: 74px;
		}
	}

	.values {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 1rem;
		padding: 4rem;
	}
	@media screen and (max-width: 768px) {
		.values {
			padding: 1rem;
		}
	}
		.value {
			flex: 1 calc(33.3% - 1rem);
			padding: 1rem;
			color: var(--black);
		}
		@media screen and (max-width: 768px) {
			.value {
				flex: 0 100%;
			}
		}
			.value .icon img {
				width: 150px;
			}

/* Cursos */
.section-courses {
	padding: 4rem 0 3rem 0;
	background-color: #f1f1f1;
}
@media screen and (max-width: 768px) {
	.section-courses {
		padding: 1rem;
		padding-top: 76px;
	}
}
	.courses {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 2rem;
	}
		.course-card {
			margin: 2rem 0;
			background-color: #ffffff;
			border-radius: .5rem;
			overflow: hidden;
			color: var(--black);
			min-height: 450px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			cursor: pointer;
		}
		@media screen and (max-width: 768px) {
			.course-card {
				min-height: auto;
			}
		}

			.course-card-header {
				position: relative;
			}
			.course-card:hover .course-card-header::after {
				top: 0;
			}
			.course-card-header::after {
				content: '';
				position: absolute;
				height: 100%;
				width: 100%;
				background-color: var(--second-color);
				filter: opacity(.5);
				transition: all .4s ease-in-out;
				z-index: 4;
				top: -100%;
				left: 0;
				right: 0;
			}
			.course-card-header img {
				transition: all .3s ease-in-out;
			}

			.course-card-content {
				padding: 2rem 1rem;
			}	
				.course-card-content .text-description {
					font-size: .8rem;
				}
			.course-card-footer {
				padding: .4rem 0;
				background-color: var(--second-color);
				color: var(--white);
				transition: all .2s ease-in-out;
				cursor: pointer;
			}
			.course-card-footer:hover {
				background-color: var(--second-color-transparent);
				color: var(--black);
			}

/* Testimonios */
.section-testimonios {
	background-image: url('../../../assets/img/home/testimonials/bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	padding: 3rem 0;
}
@media screen and (max-width: 768px) {
	.section-testimonios {
		padding: 3rem 1rem;
		padding-top: 76px;
	}
}
	.swiper {
		height: 350px;
	}
	@media screen and (max-width: 768px) {
		.swiper {
			height: 220px;
		}
	}
		.swiper .swiper-pagination {
			display: flex;
			gap: .8rem;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
		}
		@media screen and (max-width: 768px) {
			.swiper .swiper-pagination {
				flex-direction: row;
			}
		}

		.swiper .testimonio {
			display: flex;
			gap: 1.5rem;
			padding: 1rem 0;
			max-width: 1000px;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
		}
			.testimonio .picture img {
				border-radius: 50%;
				width: 150px;
			}

/* Contacto */
.section-contacto {
	background-image: url('../../../assets/img/home/contacto/bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	padding: 3rem 0;
	height: 85vh;
}
@media screen and (max-width: 768px) {
	.section-contacto {
		padding-top: 76px;
	}
}
	.section-contacto .info {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-evenly;
		align-items: center;
	}