<app-navbar></app-navbar>
<header class="overlay-normal">
	<div class="header-content container">
		<h2 class="title second-color-text">La educación es un pilar de la vida</h2>
		<h3 class="title white p-0">Cursos preparados para entornos</h3>
		<h3 class="title white p-0">Familiares y todos sus integrantes</h3>
		<ngx-typed-js	[strings]="['- Temas de Parejas',
											'- Temas de Noviazgo',
											'- Familias Ensambladas',
											'- Relación de Padres con Hijos',
											'- La Tecnología',
											'- Emprendimientos Familiares']"
							[loop]="true"
							[showCursor]="false"
							[typeSpeed]="40"
							[backSpeed]="20"
							[backDelay]="1200"
							[smartBackspace]="true">
			<h4 class="typing white"></h4>
		</ngx-typed-js>
	</div>
</header>

<section class="section-services">
	<div class="services-content container">
		<div class="services">
			<div class="head">
				<h3 class="second-color-text"><strong>Bienvenido a EDUCANDONOS</strong></h3>
				<h6 class="black">La educación es un pilar de la vida</h6>
			</div>
			<div class="content-info">
				<div class="service">
					<div class="no-mobile icon">
						<img src="assets/img/home/icons/courses.png" alt="Icono Cursos">
					</div>
					<div class="description">
						<h4 class="second-color-text"><strong>Capacitación Online</strong></h4>
						<p class="p-2 black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, praesentium ipsum. Itaque, aut rem ratione nisi molestiae eveniet quia</p>
					</div>					
				</div>
				<div class="service">
					<div class="no-mobile icon">
						<img src="assets/img/home/icons/coaching.png" alt="Icono Coaching">
					</div>
					<div class="description">
						<h4 class="second-color-text"><strong>Coaching Profesional</strong></h4>
						<p class="p-2 black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, praesentium ipsum. Itaque, aut rem ratione nisi molestiae eveniet quia</p>
					</div>					
				</div>
				<div class="service">
					<div class="no-mobile icon">
						<img src="assets/img/home/icons/certificate.png" alt="Icono Certificados">
					</div>
					<div class="description">
						<h4 class="second-color-text"><strong>Certificados Avalados</strong></h4>
						<p class="p-2 black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, praesentium ipsum. Itaque, aut rem ratione nisi molestiae eveniet quia</p>
					</div>					
				</div>				
			</div>
		</div>
		<div class="image-services">
			<img src="assets/img/home/services/services.jpg" alt="Services Image">
		</div>
	</div>
</section>

<section class="section-about-us">
	<h2 class="second-color-text"><strong>Sobre Nosotros</strong></h2>
	<div class="about-us-content container">
		<div class="description black">
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem quod odio quibusdam quam ut fuga sunt cumque repellendus corrupti. Placeat optio quasi sequi deserunt beatae autem dicta sapiente architecto facilis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum placeat temporibus iure nisi illum delectus nam in consequatur maiores iusto, amet dolore fugiat aspernatur quam? Sed veritatis mollitia quia reprehenderit.</p>
		</div>
		<div class="video">
			<iframe width="560" height="315" [src]="safeUrl" title="About Us" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</section>

<section class="section-mision-vison-values">
	<div class="values container">
		<div class="value">
			<div class="icon">
				<img src="assets/img/home/icons/mision.png" alt="Mision Icon">
			</div>
			<div class="description">
				<h3 class="second-color-text"><strong>Misión</strong></h3>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus corporis laborum, animi dolorem quod ullam perferendis enim sed architecto provident vel! Pariatur aut possimus tempore quis ratione nulla in cum!</p>
			</div>
		</div>
		<div class="value">
			<div class="icon">
				<img src="assets/img/home/icons/vision.png" alt="Vision Icon">
			</div>
			<div class="description">
				<h3 class="second-color-text"><strong>Visión</strong></h3>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum porro atque eius itaque ducimus architecto deleniti, delectus sed aperiam unde iste? Quam repellendus corporis quos vel quibusdam rerum accusantium cupiditate!</p>
			</div>
		</div>
		<div class="value">
			<div class="icon">
				<img src="assets/img/home/icons/valores.png" alt="Valores Icon">
			</div>
			<div class="description">
				<h3 class="second-color-text"><strong>Valores</strong></h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, expedita. Impedit, eligendi consequuntur. Quaerat laboriosam eius cupiditate veritatis dicta libero, ducimus ut officia blanditiis est accusamus tempora, neque earum temporibus.</p>
			</div>
		</div>		
	</div>
</section>

<section class="section-courses">
	<h2 class="second-color-text"><strong>Conoce Nuestros Cursos</strong></h2>
	<div class="courses container">
		<div class="course-card col-12 col-sm-3">
			<div class="course-card-header">
				<img src="assets/img/home/courses/curso1.jpg" alt="Imagen Curso">
			</div>
			<div class="course-card-content">
				<h5 class="second-color-text"><strong>Título del Primer Curso</strong></h5>
				<p class="text-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, pariatur? Molestiae alias quas</p>
			</div>
			<div class="course-card-footer">
				<p>Suscribirme</p>
			</div>
		</div>
		<div class="course-card col-12 col-sm-3">
			<div class="course-card-header">
				<img src="assets/img/home/courses/curso2.jpg" alt="Imagen Curso">
			</div>
			<div class="course-card-content">
				<h5 class="second-color-text"><strong>Título del Segundo Curso</strong></h5>
				<p class="text-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur nulla aut, quis nemo numquam veniam</p>
			</div>
			<div class="course-card-footer">
				<p>Suscribirme</p>
			</div>
		</div>
		<div class="course-card col-12 col-sm-3">
			<div class="course-card-header">
				<img src="assets/img/home/courses/curso3.jpg" alt="Imagen Curso">
			</div>
			<div class="course-card-content">
				<h5 class="second-color-text"><strong>Título del Tercer Curso</strong></h5>
				<p class="text-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
			</div>
			<div class="course-card-footer">
				<p>Suscribirme</p>
			</div>
		</div>
	</div>
</section>

<section class="section-testimonios overlay-transparent">
	<h2 class="second-color-text"><strong>Testimonios</strong></h2>
	<swiper	class="swiper container"
				[slidesPerView]="3"
				[direction]="'vertical'"
				[mousewheel]="true"
				[pagination]="{
					clickable: true
				}"
				[spaceBetween]="30">
				
		<ng-template *ngFor="let testimonio of testimonios; let i = index;" swiperSlide>
			<div class="testimonio">
				<div class="picture">
					<img class="img-circle" src="assets/img/home/testimonials/t{{i+1}}.jpg" alt="Imagen Testimonio">
				</div>
				<div class="testimonio-text">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nihil tempore odio nostrum. Consequatur eaque vitae, ipsam quo aut a facilis, quia exercitationem quasi enim, quae illo amet qui numquam.</p>
				</div>
			</div>
		</ng-template>
	</swiper>
</section>

<section class="section-contacto overlay-main-color">
	<div class="info container">
		<h2 class="second-color-text py-3"><strong>Contactanos</strong></h2>
		<h5 class="white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est pariatur possimus quidem iusto quaerat ducimus corporis nulla modi</h5>
		<button class="d-flex align-items-center gap-3 btn btn-second my-4 mx-auto"><i class="fa-brands fa-whatsapp fa-2x"></i> Contacto</button>
	</div>
</section>

<app-footer></app-footer>